<h2>Posts</h2>

<!--Spinner-->
<div class="container" 
     style="position: relative;
            z-index: 999;
            width: 2em;
            margin: auto;">            
    <spinner [visible]="isLoading"></spinner>
</div>

<!--Left Side-->
<div class="col-md-6 col-sm-6">
    <ul class="list-group posts">
        <li *ngFor="#post of posts" 
            class="list-group-item"
            [class.active]="currentPost ==post"
            (click)="select(post)">
            {{ post.title }}
        </li>
    </ul>
</div>

<!--Right Side-->
<div class="col-md-6 col-sm-6">
    <div *ngIf="currentPost" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ currentPost.title }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ currentPost.body }}</p>
        </div>
    </div>
</div>